---
import IconWrapper from './IconWrapper.astro';
---

<a
  href="https://wa.me/+51915157257?text=Hola,%20me%20gustaría%20cotizar%20un%20servicio."
  target="_blank"
  class="fixed bottom-6 right-6 bg-[#25D366] text-white rounded-full p-5 shadow-2xl flex items-center z-50 animate-bounce hover:scale-110 transition-all duration-300"
  style="border: 2px solid #128C7E; min-width:56px; min-height:56px;"
>
  <span class="flex items-center justify-center">
    <IconWrapper name="mdi:whatsapp" size="xl" color="white" />
    <span class="hidden md:inline font-bold text-base ml-2 align-middle">Cotiza aquí</span>
  </span>
</a>
