---
// src/layouts/Layout.astro
// Este layout define la estructura base de todas las páginas del sitio.
// Incluye el Head (meta tags, título, favicon), el Header, el Footer y un slot para el contenido específico de cada página.

// Importa los estilos globales de Tailwind CSS.
import '../styles/global.css';

// Importa los componentes de encabezado y pie de página.
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface Props {
  title: string; // Propiedad para el título de la página.
}

const { title } = Astro.props; // Obtiene el título de las propiedades de Astro.
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="font-sans antialiased text-gray-900 bg-gray-100">
    <Header />
    <slot /> {/* Aquí se inyecta el contenido específico de cada página. */}
    <Footer />
  </body>
</html>
